* {
    box-sizing: border-box;
}

:root {
    --primary-color-main-back: hsl(233, 47%, 7%);
    --primary-color-card-back: hsl(244, 38%, 16%);
    --primary-accent-color: hsl(277, 64%, 61%);
    --text-main-headding: white;
    --text-subheadings: hsla(0, 0%, 100%, 0.75);
    --text-stat-subheadings: hsla(0, 0%, 100%, 0.6);
}

body {
    background-color: var(--primary-color-main-back);
    color: var(--text-main-headding);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.card-container {
    display: flex;
    /* border: 1px solid red; */
    height: 100vh;
    align-items: center;
}

.card {
    background-color: var(--primary-color-card-back);
    border-radius: 15px;
}

.image-section {
    background: linear-gradient(rgba(39, 3, 54, 0.895), rgba(154, 72, 192, 0.8)), url("images/image-header-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;


}

.text-container {
    text-align: center;
    margin: 3rem 0;
    width: 80%;
    margin: 0 auto;
}

.main-heading {
    font-size: 2rem;

}

.highlight {
    color: var(--primary-accent-color);
}

.subheading {
    color: var(--text-subheadings);
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.numbers-section {
    margin: 3rem 0;

}

.number {
    margin-bottom: 2rem;
}

.num-heading {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2rem;
}

.num-subheading {
    color: var(--text-stat-subheadings);

}

@media (min-width: 1000px) {
    .container {
        max-width: 900px;
    }

    .flex {
        display: flex;
        flex-direction: row-reverse;
        gap: 2rem;
    }

    .image-section {
        border-bottom-right-radius: 15px;
        /* width: 50%; */

    }

    .number {
        margin-bottom: 0;
    }

    .text-container {
        padding-top: 2rem;
        margin-bottom: 0;
        margin: 0 3rem;
        text-align: left;
        /* border: 1px solid red; */
        /* width: 50%; */

    }

    .numbers-section {
        margin: 0;
        margin-top: 3rem;
        padding-bottom: 1rem;

    }

    /* .text-container {
        text-align: left;
        /* margin: 3rem 0;
        width: 80%;
        margin: 0 auto; */
}

*/
}